<div class="auth-container">
  <div class="auth-card">
    <h2>Sign Up</h2>
    <p class="subtitle">Create a new account to get started</p>

    <%= form_tag(signup_path, method: :post) do %>
      <div class="form-group">
        <%= label_tag :email, "Email" %>
        <%= email_field_tag :email, params[:email], required: true %>
      </div>

      <div class="form-group">
        <%= label_tag :password, "Password (minimum 8 characters)" %>
        <%= password_field_tag :password, nil, required: true, minlength: 8 %>
      </div>

      <div class="form-group">
        <%= label_tag :password_confirmation, "Confirm Password" %>
        <%= password_field_tag :password_confirmation, nil, required: true, minlength: 8 %>
      </div>

      <div class="form-group">
        <%= submit_tag "Sign Up", class: "btn btn-primary", style: "width:100%;" %>
      </div>
    <% end %>

    <div class="toggle-link">
      Already have an account? <%= link_to "Sign In", login_path %>
    </div>
  </div>
</div>
