<!DOCTYPE html>
<html>
  <head>
    <title>demo on oct 6th</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="container">
      <h1><a href="<%= root_path %>">Rails Blog</a></h1>
      <% if notice %>
        <p style="color: green;"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p style="color: red;"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
