<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rails Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-inner">
        <h1><a href="<%= root_path %>">Rails Blog deployment from argo-cd</a></h1>
        <% if logged_in? %>
          <div class="user-info">
            Signed in as <strong><%= current_user_email %></strong>
            | <%= link_to "Sign Out", logout_path, data: { turbo_method: :delete } %>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
        <div class="flash-notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="flash-alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
